* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
}

.main {
  position: relative;
  background-color: #000;
  width: 100%;
  /* background-image: url("https://uploads-ssl.webflow.com/5f2429f172d117fcee10e819/614f353f1e11a6a7afdd8b74_6059a3e2b9ae6d2bd508685c_pt-texture-2.jpg"); */
  overflow: hidden;
}

.page1 {
  height: 120vh;
  width: 100%;
  background-color: #c4bcb2;
  position: relative;
}

nav {
  position: relative;
  display: flex;
  padding: 1.8vw;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}

nav > h3 {
  font-family: "Editorial New Light";
  font-weight: 500;
}

nav > img {
  height: 2vw;
}

nav > i {
  font-size: 1.5vw;
}

.page1-main-up {
  position: relative;
  width: 100%;
  padding: 1.5vw;
  display: flex;
  justify-content: space-between;
  /* background-color: salmon; */
}

.page1-main-up-left {
  width: 35%;
  border-right: 1px solid #000;
}

.page1-main-up-middle {
  width: 30%;
}

.page1-main-up-right {
  border-left: 1px solid #000;
  width: 35%;
}

.elem1 {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  align-items: self-start;
}

.img-div {
  height: 10vw;
  width: 28vw;
  border: 2px solid #000;
  overflow: hidden;
  cursor: pointer;
}

.elem1 .img-div > img {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  height: 100%;
  width: 100%;
}

.img-div > img:hover {
  scale: 1.1;
}
.elem1 .img-heading {
  display: flex;
  align-items: center;
  gap: 0.8vw;
}

.elem1 .img-heading > h1 {
  background-color: #b73c12;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 1.1vw;
  color: #c6beb5;
  font-family: canopee;
}

.elem1 .img-heading > img {
  height: 1.5vw;
}

.elem1 > p {
  font-family: "Editorial New Light";
  font-size: 1.3vw;
  opacity: 0.8;
  width: 90%;
}

.elem2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.elem2 > h1 {
  font-family: canopee;
  font-weight: 500;
  font-size: 4vw;
  white-space: nowrap;
}

.elem2 > h3 {
  font-family: "Editorial New Light";
  font-weight: 500;
  font-size: 2.2vw;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
  text-align: center;
  width: 65%;
}

.elem2 > h5 {
  font-family: "Editorial New Light";
  font-weight: 500;
  font-size: 1.5vw;
  white-space: nowrap;
}

#elem3 {
  margin-left: 4vw;
}

.page1-main-down {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page1-main-down > h1 {
  font-family: canopee;
  font-size: 31.5vw;
  padding: 0 4vw;
  background-color: #1b1b19;
  color: #c6beb5;
  width: fit-content;
  line-height: 1;
}

.page2 {
  position: relative;
  min-height: 120vh;
  width: 100%;
  background-color: #c4bcb2;
  padding: 2vw 1.5vw;
  display: flex;
}

.page2-left {
  width: 33%;
  height: 100%;
  /* background-color: salmon; */
  padding-right: 1.5vw;
  overflow: hidden;
}

.page2-left > h1 {
  font-family: canopee;
  text-transform: uppercase;
  font-size: 7vw;
  line-height: 1;
}

.page2-left > .page2-left-img {
  margin: 1vw 0;
  height: 60%;
  overflow: hidden;
  width: 95%;
  border: 2px solid #000;
}

.page2-left > .page2-left-img > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  scale: 1.02;
}

.page2-left > .page2-left-img > img:hover {
  scale: 1.1;
}

.page2-left > h5 {
  font-family: "Editorial New Light";
  font-size: 2.5vw;
  line-height: 1.2;
  font-weight: 500;
}

.page2-right {
  width: 67%;
  height: 100%;
  padding-left: 2vw;
  border-left: 1px solid #000;
}

.page2-right-img {
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  overflow: hidden;
  margin-bottom: 1.5vw;
}

.page2-right-img > img {
  scale: 1.02;
  height: 100%;
  width: 100%;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.page2-right-img > img:hover {
  scale: 1.1;
}

.page2-right > h1 {
  font-family: canopee;
  font-size: 7vw;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}

.stamp {
  width: 100%;
  padding: 2vw 1.5vw;
  height: 55vh;
  background-color: #c4bcb2;
  display: flex;
  position: relative;
  align-items: center;
  gap: 2vw;
}

.stamp > h1 {
  font-family: canopee;
  font-size: 27vw;
  background-color: #1c1c1a;
  padding: 2vw;
  height: 100%;
  display: flex;
  align-items: center;
  color: #c6beb5;
}

.stamp > img {
  height: 100%;
}

.page3 {
  min-height: 100vh;
  width: 100%;
  padding: 2vw 1.5vw;
  background-color: #c4bcb2;
  display: flex;
  position: relative;
  padding-bottom: 4vw;
}

.page3-left {
  height: 100%;
  width: 67%;
  border-right: 1px solid #000;
  padding-right: 2.5vw;
}

.page3-left-up {
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 4vw;
}

.page3-left-up-left {
  width: 40%;
}

.page3-left-up-left > h1 {
  font-family: canopee;
  font-size: 3.6vw;
}

.page3-left-up-left > h3 {
  font-family: "Editorial New Light";
  line-height: 1.2;
  font-weight: 500;
  font-size: 2.5vw;
  margin-top: 1.5vw;
  margin-bottom: 2vw;
}

.page3-left-up-left > h5 {
  font-family: "Editorial New Light";
  line-height: 1;
  font-weight: 500;
  font-size: 1.2vw;
  opacity: 0.9;
}

.page3-left-up-right {
  width: 60%;
  padding-left: 3vw;
  padding-right: 5vw;
  border-left: 1px solid #000;
}

.page3-left-up-right-img {
  width: 100%;
  height: 60%;
  border: 2px solid #000;
  overflow: hidden;
}

.page3-left-up-right-img > img {
  width: 100%;
  height: 100%;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.page3-left-up-right-img > img:hover {
  scale: 1.1;
}

.page3-left-up-right > h1 {
  font-family: canopee;
  margin-top: 0.5vw;
  margin-bottom: 1vw;
}

.page3-left-up-right > h3 {
  font-family: "Editorial New Light";
  font-weight: 500;
  font-size: 1.4vw;
}

.page3-left-down {
  height: 80vh;
  width: 100%;
  border: 2px solid #000;
  overflow: hidden;
}

.page3-left-down > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.page3-left-down > img:hover {
  scale: 1.1;
}

.page3-right {
  height: 100%;
  padding-left: 2vw;
  width: 33%;
}

.page3-right > h1 {
  font-size: 6.3vw;
  line-height: 1;
  font-family: canopee;
}

.page3-right > h1:nth-child(2) {
  font-size: 12.4vw;
  font-family: canopee;
}

.page3-right > h3 {
  font-family: "Editorial New Light";
  margin: 2.5vw 0;
  font-size: 2.1vw;
  font-weight: 500;
}

.overal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
  border: 1px solid #000;
  padding: 3.5vw 5.5vw;
  border-radius: 50%;
  background-color: #cbc2b8;
  position: relative;
  overflow: hidden;
}

.overal > #arrow2 {
  font-family: canopee;
  font-size: 5vw;
  position: relative;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.overal:hover #arrow2 {
  opacity: 0;
}

.overal > img {
  position: absolute;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  left: -22%;
}

.overal:hover #arrow1 {
  left: 35%;
  display: block;
}

.awards {
  position: relative;
  height: 30vh;
  width: 100%;
  background-color: #c4bcb2;
  padding: 1vw 1.5vw;
}

.awards-box {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 2vw 0vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}

.award-elem {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.5vw;
}

.selected {
  text-align: center;
}

.title > h3 {
  font-family: "Editorial New Light";
  font-size: 1.5vw;
  text-transform: uppercase;
  font-weight: 500;
}

.title > h1 {
  font-family: canopee;
  font-size: 4.5vw;
}

.award-elem > h1 {
  font-size: 11vw;
  /* background-color: rebeccapurple; */
  font-weight: 500;
}

.page4 {
  position: relative;
  height: 110vh;
  width: 100vw;
  background-color: #c4bcb2;
  padding: 1.5vw 1.5vw;
  display: flex;
  padding-right: 2vw;
  padding-bottom: 0;
}

.page4-left {
  width: 50%;
  height: 100%;
  position: relative;
  font-family: canopee;
  padding-top: 2vw;
}

.page4-left-up {
  width: 100%;
  height: 50%;
  display: flex;
  gap: 1vw;
  align-items: self-start;
}

.page4-img {
  height: 95%;
  width: 30%;
  border: 2px solid #000;
  overflow: hidden;
}

.page4-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.page4-img > img:hover {
  scale: 1.1;
}

.page4-left-up > h1 {
  font-size: 33vw;
  letter-spacing: -1.5vw;
  height: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 1vw;
  font-weight: 500;
}

.page4-left > h1 {
  font-size: 31vw;
  font-weight: 500;
  height: 50%;
  display: flex;
  align-items: center;
  letter-spacing: -1vw;
}

.page4-right {
  width: 50%;
  height: 100%;
  /* background-color: crimson; */
  position: relative;
  padding: 2.5vw 0vw;
  padding-left: 1.5vw;
}

.page4-right-img {
  height: 100%;
  border: 2px solid #000;
  overflow: hidden;
}

.page4-right-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.page4-right-img > img:hover {
  scale: 1.1;
}

.page5 {
  height: 100vh;
  width: 100vw;
  position: relative;
  padding: 0vw 2vw;
  background-color: #c4bcb2;
  display: flex;
  flex-direction: column;
}

.page5-up {
  position: relative;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
}

.page5-up-img {
  height: 85%;
  width: 30%;
  border: 2px solid #000;
  overflow: hidden;
}

.page5-up-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.page5-up-img > img:hover {
  scale: 1.1;
}

.page5-up > h1 {
  font-family: canopee;
  font-size: 30vw;
  font-stretch: expanded;
  width: 76%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -2vw;
  padding-right: 1.5vw;
  font-weight: 500;
}

.page5-down {
  position: relative;
  height: 50%;
  width: 100%;
  display: flex;
  gap: 2vw;
}

.page5-down > h1 {
  position: relative;
  height: 90%;
  width: 80%;
  background-color: #1c1c1a;
  font-family: canopee;
  color: #c5bdb4;
  padding: 1vw;
  padding-bottom: 0;
  font-weight: 500;
  font-size: 26vw;
  display: flex;
  letter-spacing: -1vw;
  align-items: center;
}

.page5-down-left > h3 {
  font-family: "Editorial New Light";
  font-weight: 500;
  font-size: 2vw;
  line-height: 1.2;
  width: 90%;
}

.page5-down-left > h1 {
  font-family: canopee;
  margin: 0.5vw 0;
  font-size: 7vw;
  font-weight: 500;
}

.bg-seleted {
  background-color: #c4bcb2;
  border-top: 1px solid #000;
  padding-top: 3vw;
  padding-bottom: 2vw;
}

.scroller {
  background-color: #c4bcb2;
  padding: 0vw 1.5vw;
}

.scroller-text {
  width: 100%;
  white-space: nowrap;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  overflow: auto;
}

.scroller-text::-webkit-scrollbar {
  display: none;
}

.scroller-text > h1 {
  margin: 2vw 0;
  white-space: nowrap;
  display: inline-block;
  font-family: "Editorial New Light";
  font-weight: 500;
  font-size: 5vw;
  margin-left: 20px;
  animation-name: scroll;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.scroller:hover .scroller-text > h1 {
  animation-play-state: paused;
}

.scroller-text > h1 > span {
  font-family: canopee;
  font-size: 5vw;
  background-color: #1c1b19;
  color: #c4bdb3;
  padding: 0.4vw;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 24px));
  }
}

footer {
  padding: 2vw 1.5vw;
  background-color: #c4bcb2;
  display: flex;
  justify-content: space-between;
  font-family: canopee;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.footer-left > h1 {
  font-weight: 500;
}

.font {
  font-family: "Editorial New Light";
  font-size: 1.4vw;
}

.footer-left > img {
  height: 5vh;
}

.footer-right {
  display: flex;
  gap: 1vw;
  align-items: center;
}

.footer-right > h1 {
  font-weight: 500;
  font-size: 1.5vw;
}

.circle {
  height: 7px;
  width: 7px;
  background-color: #000;
  border-radius: 50%;
}

@media (width: 600px) {
  nav > img {
    height: 4vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .img-div {
    height: 12vw;
  }

  .elem1 .img-heading > img {
    height: 3vw;
    margin: 1vw 0;
  }
  .elem1 > p {
    font-size: 2vw;
  }

  .elem2 > h1 {
    font-size: 6vw;
  }

  .elem2 > h3 {
    font-size: 3.2vw;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
  }

  .elem2 > h5 {
    font-size: 2vw;
  }

  .page1 {
    height: fit-content;
  }

  .page2 {
    min-height: 65vh;
  }

  .stamp {
    height: 30vh;
  }

  .stamp > h1 {
    font-size: 25vw;
    height: 85%;
  }

  .stamp > img {
    height: 95%;
  }

  .page3-left-up-left > h1 {
    font-size: 5.6vw;
  }

  .page3-left-up-left > h5 {
    font-size: 2.2vw;
  }

  .page3-left-up-right {
    padding-right: 0vw;
  }

  .page3-left-up-right > h3 {
    font-size: 2vw;
  }

  .page3-left-down {
    margin-top: 8vw;
    height: 60vh;
  }

  .page3-right > h3 {
    font-size: 3.3vw;
  }

  .overal > img {
    left: -71%;
  }

  .overal {
    margin-top: 6vw;
    padding: 6.5vw 3.5vw;
  }

  .title > h3 {
    font-size: 1.8vw;
  }

  .awards {
    height: 25vh;
    padding: 4vw 1.5vw;
    /* border: none; */
  }

  .awards-box {
    border: none;
  }

  .page4 {
    height: 45vh;
  }
  .page5 {
    height: 45vh;
  }

  .footer-left > h1 {
    font-size: 3vw;
  }
  .footer-right > h1 {
    font-size: 3vw;
  }
}
